*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;


}

.all{
    background: #000;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
}
.logo p {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    padding-left: 100px;
}
.link li a:hover{
    color: blue;
}
.or{
    padding: 10px 15px;
    margin-right: 70px;
    border-radius: 10px;
    background: gold;
    margin-top: 8px;
    
}
.acc{
    display: flex;
    gap: 30px;
    /* background:pink; */
    padding-top: 10px;
    padding-left: 70px;
}
.link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: flex;
    list-style: none;
    padding-left: 150px;
    gap: 20px;
    font-size: 30px;
    

}

ul.link li a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.material-symbols-outlined{
    color: #fff;
    /* background: blue; */
    font-size: 320px;

}
.cart{
    color: white;
}
.all main{
    background: #000;
}
.text p{
    color: #fff;
}
.big{
    font-family: 'Dancing Script', cursive;
    padding-left: 60px;
    font-size: 50px;
    padding-top: 30px;
}
.small{
    padding-top: 30px;
    padding-left: 60px;     
    font-size: 20px;
}
.order{
    padding: 16px 50px;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 10px;
    background: gold;
    /* color: #fff; */
    color: black;
    font-weight:700;
    font-size: 20px;
}

.text{
    padding-left: 20px;
    padding-top: 170px;
}
.image img{
    width: 630px;
    padding-top: 30px;
}
.allcard{
    display: flex;
    flex-wrap: wrap;
    
    /* background: pink; */
    padding: 4px;
}
.our{
    text-align: center ;
    font-size: 50px;
    margin-top: 10px;



    
}
.card{
    background: rgba(0, 0, 0, 0.876);
    
    width: 350px;
    height: 500px;
    margin-left: 75px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    transition: all .3s ease-in-out;

}
.card:hover{
     transform: translateY(-10px);
     box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    
}

.pic1 {
    /* background:rgba(255, 255, 255, 0.902); */
    background: white;
    width: 350px;
    height: 300px;
    /* overflow: hidden; */
    border-radius: 18px;
}
.pic1 img{
    /* transform: scale(1); */
    width: 80%;
    height: 80%;
    /* object-fit: cover; */
    padding-left: 30px;
    padding-top: 40px;

}
.Turkey{
    color: #fff;
    text-align: center;
    padding: 0px 20px;

}.Turkey p{
    padding-top: 10px;
    font-size: 15px;
}.Turkey h2{
    padding-top: 20px;

}
.price{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    
}
.New{
    margin-left: 150px;
    border-radius: 10px;
    padding: 0px 20px;
    margin-top: 10px;
    /* padding-top: 10px; */
    background: gold;
    
}
.co img{
    height: 270px;
    padding-top: 10px;
}
.cr img{
    width: 150px;
    padding-left: 100px;
}
.dr img{
    width: 100px;    
    padding-left: 130px;
}
p{
    color: #fff;
}
/* ########################### */
.footer{
    background: #000;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}
.location p{
    color: #fff;
    /* display: flex; */

}
.location h2{
    font-size: 90px;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px;
    margin-right: 30px; */
}
.contact h2{
    color: #fff;
    /* margin-left: 10px; */
    text-align: center;
}
.contact{
    /* background: #ff4a4a; */
    width: 200px;
    /* margin: 24px 0 0 50px ; */
    /* margin-left: 200px; */
}
.call{
    padding-top: 20px;
}
.email{
    padding-top:10px ;
}
.bu{
    font-family: 'Dancing Script', cursive;
    

}
.con{
    background: pink;
    width: 300px;
    text-align: center;
    
    
}